/*
 * Globals
 */

.palanque {
    width: 100%;
    text-align: center;
}
.discurso {
    position: relative;
    padding: 20px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 60%;
    display: inline-block;
}
.discurso:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 50px 20px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -20px;
    bottom: -50px;
}
.discurso:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 55px 25px 0;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -25px;
    bottom: -61px;
}
.discurso-esquerda {
    border: #D9534F solid 6px;
}
.discurso-direita {
    border: #428BCA solid 6px;
}
.discurso-esquerda:after {
    left: 30%;
}
.discurso-direita:after {
    left: 70%;
}
.discurso-esquerda:before {
    border-color: #D9534F transparent;
    left: 30%;
}
.discurso-direita:before {
    border-color: #428BCA transparent;
    left: 70%;
}
.politicos.img-responsive {
    margin-top: 30px;
    display: inline-block;
}
.icons {
    text-align: center;
    padding-top: 20px;
}
.discurso-button {
    margin-bottom: 20px;
}

.icon, .label {
    display: block;
    width: 100%;
}
.label {
    white-space: normal;
    word-wrap: break-word;
}

@media (min-width: 768px) {

  .discurso-button-direita {
  text-align: left;
}
.discurso-button-esquerda{
  text-align: right;
}
}
